Sources/Mapper/Service References/ExternalServiceReference/ExternalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8234/ExternalService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExternalService" />
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExternalService" minOccurs="0" name="request" nillable="true" type="q1:ProcessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExternalService" minOccurs="0" name="ProcessResult" nillable="true" type="q2:ProcessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>