Sources/Mapper/Service References/ExternalServiceReference/ExternalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8234/ExternalService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProcessRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MapperActivated" type="xs:long" />
      <xs:element minOccurs="0" name="MapperConnected" type="xs:long" />
      <xs:element minOccurs="0" name="MapperPostDequeued" type="xs:long" />
      <xs:element minOccurs="0" name="MapperPreDequeued" type="xs:long" />
      <xs:element minOccurs="0" name="MapperReceived" type="xs:long" />
      <xs:element minOccurs="0" name="MapperSent" type="xs:long" />
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produced" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessRequest" nillable="true" type="tns:ProcessRequest" />
  <xs:complexType name="ProcessResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MapperActivated" type="xs:long" />
      <xs:element minOccurs="0" name="MapperConnected" type="xs:long" />
      <xs:element minOccurs="0" name="MapperPostDequeued" type="xs:long" />
      <xs:element minOccurs="0" name="MapperPreDequeued" type="xs:long" />
      <xs:element minOccurs="0" name="MapperReceived" type="xs:long" />
      <xs:element minOccurs="0" name="MapperSent" type="xs:long" />
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produced" type="xs:long" />
      <xs:element minOccurs="0" name="ServiceReceived" type="xs:long" />
      <xs:element minOccurs="0" name="ServiceSent" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResponse" nillable="true" type="tns:ProcessResponse" />
</xs:schema>